body {
  background-color: #0a0808;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

.marginTop {
  margin-top: 50px;
  padding: 10px;
}

.form-group {
  margin: 10px;
}

label {
  margin: 2px;
}

button {
  margin-left: 20px;
}

.card {
  /* other styles for the card */
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-header {
  background-color: rgba(24, 173, 82, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-radius: 3px 3px 0 0;
}
